body {

    font-family: 'Raleway', sans-serif;
    background-color: #707070;
    color: white;
    display: block;
    margin: 0;

}
header {
    background-color: #81AEC0;
}
.nav-link {
    color:#FFFFFF;
    font-size: 1.5em;

}


.btn-primary {
    background-color: #81AEC0;
    color: black;
    margin-left: 7%;
}
.nav a:hover {
    background-color: #F1F7ED;
    color:black;
}
.banner {
    width: 100%;
    height: 100%;
    padding: 7%;
}
a {
    color:#81AEC0;
}
a:hover {
    color: #FFFFFF;

}

.footer{

    background-color: #81AEC0;
}

.logo{
    max-width: 200px;
    height: auto;
    padding: 5%;

    padding: 1%;
}
.card {
    position: relative;
    overflow: hidden;
}

.card .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
    opacity: 1;
}


table {
    background-color: #91C7B1;
}




