/* General Styles */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #707070;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #81AEC0;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

.nav-link {
    color: #FFFFFF;
    font-size: 1.5em;
}

form {
    padding: 2%;
}

label {
    padding-top: 3%;
    font-size: large;
}

.form-control {
    padding: 2%;
}

/* Button Styles */
.btn-primary,
.btn-secondary,
.btn-danger {
    background-color: #81AEC0;
    color: black;
    margin: 5px;
    border: 2px solid #81AEC0;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-secondary {
    margin: auto;
}

.btn-primary:hover {
    background-color: #5c859e;
    color: white;
    border-color: #5c859e;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(129, 174, 192, 0.5);
}

.btn-primary:active,
.btn-primary.active {
    background-color: #3f6375;
    border-color: #3f6375;
    color: white;
}

/* Link Styles */
.nav a,
a {
    color: #ffff;
    margin: 1%;
}

.nav a:hover,
a:hover {
    color: #81AEC0;
}

/* Footer Styles */
.footer {
    background-color: #81AEC0;
    width: 100%;
    margin-top: auto;
}

/* Logo Styles */
.logo {
    max-width: 350px;
    height: auto;
    padding: 1%;
}

/* Card Styles */
.card {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: auto;
    max-height: 350px;
    margin: 0;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card-title {
    /*margin-bottom: 0;*/
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
}

/* Movie Details Styles */
.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.movie-details .movie-image {
    max-width: 300px;
    margin-right: 20px;
}

.movie-details .movie-info {
    flex: 1;
}

.movie-details .review-image {
    max-width: 100px;
    margin-right: 20px;
}









